.section_temp {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.38);
    transition: 0.5s all ease;
}

.temp_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 30%;
}

.temp_left img {
    width: 100%;
    height: 100%;
}

.temp_left h3,
.temp_left span {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.temp_right h1 {
    font-size: 4rem;
}

.temp_right h1 span {
    font-size: 2.5rem;
}

@media screen and (max-width: 564px) {

    .temp_left h3,
    .temp_left span {
        font-size: 1.2rem;
        letter-spacing: 0.7px;
        text-align: center;
    }

    .temp_right h1 {
        font-size: 3.5rem;
    }

    .temp_right h1 span {
        font-size: 2rem;
    }
}