/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-family */
  --korFont: 'Chosunilbo_myungjo';
  --mainFont: 'Rajdhani', sans-serif;
  --popFont: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--mainFont);
}

ul,
li,
a,
button,
input,
textarea {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  transition: 0.5s all ease;
}

.main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/image/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  color: #fff;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.46);
}

.container {
  max-width: 95%;
  width: 960px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.container.dark {
  transition: all 0.5s ease;
  background-image: url('./assets/image/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container.dark .header .section_input , 
.container.dark .section_temp  {
  background: rgba(235, 245, 255, 0.67);
  color: #181818;
  transition: all 0.5s ease;
}

.container.dark .section_desc .card .card_content {
  background: rgba(235, 245, 255, 0.67);
  color: #181818;
  opacity: 0.95;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.container.dark .section_input button , 
.container.dark .section_input input[type=text] {
  background: rgba(0, 0, 0, 0.74);
  color: #fff;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.container.dark .section_input button:hover {
  background: transparent;
  color: #181818;
  transition: all 0.5s ease;
}

.container.dark .section_input input[type=text] {
  border: 1px solid #fff;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}